<p>
  I am unrelated component.
  <span>This is massage from service: {{ messageFromService }}</span>
  <br />
  <input type="text"  #messageInput>
  <button (click)="broadcastMessage(messageInput.value)">broadcast Message</button>
</p>
