<app-sibling></app-sibling>

<p>
  <app-child [childMessage]="parentMessage"></app-child>
  <app-child childMessage="Message from view"></app-child>
</p>
<p>
  <span> Message from second child: {{secondchildmessage}}</span>
  <span><app-secondchild (messageEvent)="receiveMessage($event)"></app-secondchild></span>
</p>
<p>
  <span>This is massage from service: {{ messageFromService }}</span>
</p>
